<ion-content class="sunset" [fullscreen]="true">
  <div class="sectionCont d-flex justify-content-center">
    <section class="w-400 p-4 mt-sm-3 mt-md-5 mb-sm-4 h-auto">
      <app-header title="Here are some photos of dogs :D"></app-header>
      <div>
        <ion-grid>
          <ion-row class="flex-row  ion-justify-content-center">
            <ion-col class="d-flex justify-content-center"  size="12" size-sm="5" size-md="4" size-lg="3" *ngFor="let dog of dogs"> 
              <img [src]="dog.url" alt="Gato" style="width: 300px;">
            </ion-col>
          </ion-row>
        </ion-grid> 
      </div>
      <ion-progress-bar color="pink" type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
    </section>
  </div>
</ion-content>

