<ion-content class="sunset" [fullscreen]="true">


  <div class="d-flex justify-content-center align-items-center vh-100">
    <section class="w-400 p-4 ">

      <app-header title="Edit profile"></app-header>

      <form [formGroup]="editForm" (ngSubmit)="updateUser()"
      class="h-400 d-flex flex-column justify-content-between">
        <div>
          <ion-item fill="solid">
            <ion-input label="Name" labelPlacement="floating" formControlName="name"
             placeholder="You need a name to access home" type="text" ></ion-input>
            <ion-note color="danger" slot="helper"
             ></ion-note>
          </ion-item>
          
          <ion-list>
            <ion-item fill="solid" >
              <ion-select aria-label="Fruit" interface="popover" 
              formControlName="rol" value="dogs" placeholder="Select what animal you prefer">
                <ion-select-option value="cats">Cats</ion-select-option>
                <ion-select-option value="dogs">Dogs</ion-select-option>
                <ion-select-option value="both">I like both!</ion-select-option>
              </ion-select>
              <ion-note color="danger" slot="helper"
              ></ion-note>
            </ion-item>
          </ion-list>
          
       

          <div class=" w-100 mt-3">
            <ion-button type="submit" color="pink" class="w-25"
            [disabled]="editForm.invalid">Save</ion-button>
            <ion-button color="orange" (click)="resetForm()">Reset</ion-button>
        
          </div>
        </div>
      </form>
    </section>
  </div>
</ion-content>
