<ion-content class="sunset" [fullscreen]="true" mode="ios">

  <div class="d-flex justify-content-center align-items-center h-100">
    <section class=" p-4 ">

      <div class=" mb-3 d-flex align-items-center justify-content-between">
        <h1 class="fw-bolder fs-1 spacing text-center"> {{ showLoginOrRegister ? 'Login' : 'Register' }}</h1>
      </div>

      <button id="google" type="button" (click)="loginWithGoogle()"
        class="btn btn-light btn-lg w-100 mb-2 d-flex align-items-center">
        <div>
          <img src="../../../../assets/icon/Google.svg.png" alt="logo of Google">
        </div>
        <p class="my-auto w-100">Continue with Google</p>
      </button>
      <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="showLoginOrRegister">

        <ion-item fill="solid">

          <ion-input label="Email" labelPlacement="floating" formControlName="email" id="email"
            placeholder="Log with your email" type="email"
            (ionChange)="toggleLoginErrorVisibility('email')"></ion-input>

          <ion-note color="danger" slot="helper" *ngIf="errorVisibility.email">{{emailError}}</ion-note>
        </ion-item>

        <ion-item fill="solid">

          <ion-input label="Password" labelPlacement="floating" formControlName="password" id="password"
            class="password-field" type="password" (ionChange)="toggleLoginErrorVisibility('password')"></ion-input>

          <ion-button class="eye" fill="clear" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon slot="icon-only" color="pink" [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
          </ion-button>

          <ion-note color="danger" slot="helper" *ngIf="errorVisibility.password">{{passwordError}}</ion-note>
        </ion-item>

        <div class="w-100 mt-3">
          <ion-button color="pink" type="submit">Login</ion-button>
          <ion-button color="orange" (click)="toggleForm()">Create an account</ion-button>
        </div>
      </form>

      <form class="h-400 d-flex flex-column justify-content-between" [formGroup]="registerForm" (ngSubmit)="register()"
        *ngIf="!showLoginOrRegister">
        <div>
          <ion-item fill="solid">
            <ion-input label="Email" labelPlacement="floating" formControlName="email" placeholder="Write a valid email"
              type="email" (ionChange)="toggleRegisterErrorVisibility('email')"></ion-input>
            <ion-note color="danger" slot="helper"
              *ngIf="registerErrorVisibility.email">{{registerEmailError}}</ion-note>
          </ion-item>
          <ion-item fill="solid">
            <ion-input label="Password" labelPlacement="floating" formControlName="password" id="passwordRegistrer"
              type="password" class="password-field" placeholder="At least 6 characters"
              (ionChange)="toggleRegisterErrorVisibility('password')"></ion-input>
            <ion-button class="eye" fill="clear" slot="end" (click)="togglePasswordVisibility()">
              <ion-icon slot="icon-only" color="pink" [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
            </ion-button>
            <ion-note color="danger" slot="helper" *ngIf="registerErrorVisibility.password">
              {{registerPasswordError}}
            </ion-note>
          </ion-item>
          <ion-item fill="solid" class="ion-invalid">
            <ion-input label="Repeat password" labelPlacement="floating" formControlName="repeatPassword"
              id="repeatPassword" type="password" class="password-field"
              (ionChange)="toggleRegisterErrorVisibility('repeatPassword')"></ion-input>
            <ion-button class="eye" fill="clear" slot="end" (click)="togglePasswordVisibility()">
              <ion-icon slot="icon-only" color="pink" [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
            </ion-button>
          </ion-item>

          <div class=" w-100 mt-3">
            <ion-button type="submit" color="pink" class="w-25">Sign up</ion-button>
            <ion-button type="button" color="orange" (click)="toggleForm()">Alredy have a user? Login
            </ion-button>
          </div>
        </div>
      </form>
    </section>
  </div>
</ion-content>