/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


ion-content {
    --background: transparent;
}

section {

    background: white !important;
    border-radius: 20px;
    box-shadow: 8px 5px 20px #4b4b4b;
}

.w-400{
    
    max-width: 455px;
    min-width: 400px;
}

.spacing {
    letter-spacing: .2rem;
}

.sunset {

    position: relative;

}

.sunset::before {

    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url(assets/images/background.jpg) center center/cover no-repeat;
    

}


.btn-pink {

    color: var(--ion-color-pink-contrast);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: var(--ion-color-pink);

}

.btn-pink:hover, .btn-pink:focus {
    color: var(--ion-color-pink-contrast);
    background-color: var(--ion-color-pink-shade);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    
}

.btn-orange {
    color: var(--ion-color-orange-contrast);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: var(--ion-color-orange);
}

.btn-orange:hover, .btn-orange:focus {
    color: var(--ion-color-orange-contrast);
    background-color: var(--ion-color-orange-shade);
}
.btn-group>.btn:focus, .btn-group>.btn:hover {
    z-index: auto;
}

#home {

    transition: all 0.2s ease-in-out;
    transform: scale(1);
    cursor: pointer;

}

#home:hover {
    transform: scale(1.5) ;
}

#home:active {
    transform: scale(1.3);
}